{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col-sm-12 text-center">
        <h4 class="bg-primary text-white p-2">Account Balance</h4>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <table id="account_balance" class="table table-striped table-bordered" style="width:100%" data-server-side="true" data-ajax="/api/balance/?format=datatables">
            <thead>
                <tr>
                    <th data-data="accountName">Account Name</th>
                    <th data-data="instruments.USD">USD Balance</th>
                    <th data-data="instruments.BNB">BNB Balance</th>
                    <th data-data="type">Type</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 text-center">
        <h4 class="bg-primary text-white p-2">Internal Accounts</h4>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <table id="internal_account" class="table table-striped table-bordered" style="width:100%" data-server-side="true" data-ajax="/api/internal/?format=datatables">
            <thead>
                <tr>
                    <th data-data="accountName">Account Name</th>
                    <th data-data="sourceId">Source ID</th>
                    <th data-data="type">Type</th>
                    <th data-data="productAssociation">Product Association</th>
                    <th data-data="externalAccountAssociation">External Account Association</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 text-center">
        <h4 class="bg-primary text-white p-2">External Accounts</h4>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <table id="external_account" class="table table-striped table-bordered" style="width:100%" data-server-side="true" data-ajax="/api/external/?format=datatables">
            <thead>
                <tr>
                    <th data-data="accountName">Account Name</th>
                    <th data-data="exchangeAssociation">Exchange Name</th>
                    <th data-data="type">Type</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<footer class="footer" style="margin-top: 25px;">
    <div class="container">
        <p class="text-muted text-center">
            Copyright © 2020 Lonk.com
        </p>
    </div>
</footer>
{% endblock %}
{% block extra_js %}
<script>
$(document).ready(function() {
    $('#account_balance').DataTable({
        dom:
            "<'row'<'col-sm-12 col-md-6'B>>" +
            "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>" +
            "<'row'<'col-sm-12'tr>>" +
            "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",

        buttons: [
            'copy', 'csv', 'excel', 'pdf'
        ],
    });
    $('#internal_account').DataTable({
        dom:
            "<'row'<'col-sm-12 col-md-6'B>>" +
            "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>" +
            "<'row'<'col-sm-12'tr>>" +
            "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",

        buttons: [
            'copy', 'csv', 'excel', 'pdf'
        ],
    });
    $('#external_account').DataTable({
        dom:
            "<'row'<'col-sm-12 col-md-6'B>>" +
            "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>" +
            "<'row'<'col-sm-12'tr>>" +
            "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
        buttons: [
            'copy', 'csv', 'excel', 'pdf'
        ],
    });
});
</script>
{% endblock %}
