{% extends "base.html" %}
{% block content %}

<style>
td.details-control {
    text-align:center;
    color:forestgreen;
    cursor: pointer;
}
tr.shown td.details-control {
    text-align:center;
    color:red;
}

#maincontent {
    float: right;
    width: 100%;
    margin-right: -520px;
}
#menuleftcontent {
    float: left;
    width: 500px;
}
</style>

<div class="row">
{% if user.is_authenticated %}
    <div class="col-sm-12 text-right">
        <h4>Hi {{ user.username }}! <p><a href="{% url 'logout' %}">Logout</a></p></h4>
    </div>
{% else %}
    <div class="col-sm-12 text-right">
        <h4>You are not logged in<p><a href="{% url 'login' %}">Login</a></p></h4>
    </div>
{% endif %}
</div>
<div class="row">
    <div class="col-sm-12 text-center">
        <h4 class="bg-primary text-white p-2">Account Balance</h4>
    </div>
</div>
<div class="row">
    <div id="page">
        <div class="col-sm-12">
            <div id="menuleftcontent">
                <table id="account_balance" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Account Name</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div class="col-sm-12">
            <div id="maincontent">account details</div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 text-center">
        <h4 class="bg-primary text-white p-2">Internal Accounts</h4>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <table id="internal_account" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Account Name</th>
                    <th>Source ID</th>
                    <th>Type</th>
                    <th>Product Association</th>
                    <th>External Account Association</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 text-center">
        <h4 class="bg-primary text-white p-2">External Accounts</h4>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <table id="external_account" class="table table-striped table-bordered" style="width:100%" data-server-side="true" data-ajax="/api/external/?format=datatables">
            <thead>
                <tr>
                    <th data-data="accountName">Account Name</th>
                    <th data-data="exchangeAssociation">Exchange Name</th>
                    <th data-data="type">Type</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<footer class="footer" style="margin-top: 25px;">
    <div class="container">
        <p class="text-muted text-center">
            Copyright © 2020 Lonk.com
        </p>
    </div>
</footer>
{% endblock %}
{% block extra_js %}
<script>
function format ( d ) {
    // `d` is the original data object for the row
    var result = '<div class="row"><div class="col-sm-12"><table class="table table-striped table-bordered" style="width:100%">';
    result += getRow(d);
    result += '</div></div></table>';
    return result;
}

function getRow ( d ) {
    var result = '';
    for (x in d) {
        if ( typeof d[x] != 'string' ) {
            for ( y in d[x] ) {
                result += '<tr><td>' + x + ' ' + y + ':</td><td>' + d[x][y] + '</td></tr>';
            }
        } else {
            result += '<tr><td>' + x + ':</td><td>' + d[x] + '</td></tr>';
        }
    }
    return result;
}

function child ( d ) {
    // `d` is the original data object for the table
    var result = '<div class="row"><div class="col-sm-12"><table class="table table-striped table-bordered" style="width:100%">';
    var i;
    var fieldNameElement = document.getElementById('maincontent');
    var content = '<div class="row"><div class="col-sm-12"><table class="table table-striped table-bordered" style="width:100%">';
    for (i=0; i<5; i++) {
        result += '<tr><td>' + d[i]["accountName"] + '</td></tr>';
        content += getRow(d[i]);
    }
    content += '</div></div></table>';
    result += '</div></div></table>';

    fieldNameElement.innerHTML = content;
    return result;
}

function filterByName (name, d) {
    for (i=0; i<d.length; i++) {
        if(d[i]["accountName"] === name) {
            return d[i];
        }
    }
    return d[0];
}

$(document).ready(function() {
    var balance_table = $('#account_balance').DataTable({
        dom:
            "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>" +
            "<'row'<'col-sm-12'tr>>" +
            "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",

        buttons: [
            'copy', 'csv', 'excel', 'pdf'
        ],
        "ajax": "/api/balance/?format=datatables",
        "columns": [
            {
                "className":      'details-control',
                "orderable":      false,
                "data":           null,
                "defaultContent": '',
                "render": function () {
                         return '<i class="fa fa-plus-square" aria-hidden="true"></i>';
                },
            },
            {
                "data": "accountName",
                "className": "account-click",
            },
        ]
    });

    var table = $('#internal_account').DataTable({
        dom:
            "<'row'<'col-sm-12 col-md-6'B>>" +
            "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>" +
            "<'row'<'col-sm-12'tr>>" +
            "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",

        buttons: [
            'copy', 'csv', 'excel', 'pdf'
        ],

        "ajax": "/api/internal/?format=datatables",
        "columns": [
            {"data": "accountName"},
            {"data": "sourceId"},
            {"data": "type"},
            {"data": "productAssociation"},
            {"data": "externalAccountAssociation"},
        ]

    });

    $('#account_balance tbody').on('click', 'td.details-control', function () {
        var tr = $(this).closest('tr');
        var tdi = tr.find("i.fa");
        var row = balance_table.row( tr );

        if ( row.child.isShown() ) {
            // This row is already open - close it
            row.child.hide();
            tr.removeClass('shown');
            tdi.first().removeClass('fa-minus-square');
            tdi.first().addClass('fa-plus-square');
        }
        else {
            // Open this row
            row.child( child(balance_table.data()) ).show();
            tr.addClass('shown');
            tdi.first().removeClass('fa-plus-square');
            tdi.first().addClass('fa-minus-square');
        }
    } );

    $('#account_balance tbody').on('click', 'td.account-click', function () {
        var tr = $(this).closest('tr');
        var row = balance_table.row( tr );
        var fieldNameElement = document.getElementById('maincontent');
        fieldNameElement.innerHTML = format(row.data());
    } );

    $('#external_account').DataTable({
        dom:
            "<'row'<'col-sm-12 col-md-6'B>>" +
            "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>" +
            "<'row'<'col-sm-12'tr>>" +
            "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
        buttons: [
            'copy', 'csv', 'excel', 'pdf'
        ],
    } );
});

</script>
{% endblock %}
