{% extends "base.html" %}
{% block content %}

<style>
td.details-control {
    text-align:center;
    color:forestgreen;
    cursor: pointer;
}
tr.shown td.details-control {
    text-align:center;
    color:red;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

#internal_account_details, #external_account_details {
    float: right;
    width: 100%;
    margin-right: -520px;
}
#internal_leftcontent, #external_leftcontent {
    float: left;
    width: 500px;
}
</style>

<div class="row">
{% if user.is_authenticated %}
    <div class="col-sm-12 text-right">
        <h4>Hi {{ user.username }}! <p><a href="{% url 'logout' %}">Logout</a></p></h4>
    </div>
{% else %}
    <div class="col-sm-12 text-right">
        <h4>You are not logged in<p><a href="{% url 'login' %}">Login</a></p></h4>
    </div>
{% endif %}
</div>

<table id="account_balance">
    <thead>
        <tr>
            <th></th>
            <th>Account Name</th>
        </tr>
    </thead>
</table>


<div class="tab">
  <button id="internal_tab" class="tablinks" onclick="openTabView(event, 'internal')">Internal Accounts</button>
  <button id="external_tab" class="tablinks" onclick="openTabView(event, 'external')">External Accounts</button>
  <button id="transfer_tab" class="tablinks" onclick="openTabView(event, 'transfer')">Transfer</button>
</div>

<div id="internal" class="tabcontent">
    <div class="row">
        <div id="internal_page">
            <div class="col-sm-12">
                <div id="internal_leftcontent">
                    <div id="internal_jstree"></div>
                    <table id="internal_account">
                        <thead>
                            <tr>
                                <th>Account Name</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="col-sm-12">
                <div id="internal_account_details">
                    <h4>Internal Account Details</h4>
                    <h5>Account Profile</h5>
                    <table id="internal_account_static" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Account Name</th>
                                <th>Source ID</th>
                                <th>Type</th>
                                <th>Product Association</th>
                                <th>External Account Association</th>
                            </tr>
                        </thead>
                    </table>
                    <p></p>
                    <h5>Account Balance</h5>
                    <table id="internal_account_balance" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Instrument</th>
                                <th>Amount</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="external" class="tabcontent">
    <div class="row">
        <div id="external_page">
            <div class="col-sm-12">
                <div id="external_leftcontent">
                    <div id="external_jstree"></div>
                    <table id="external_account">
                        <thead>
                            <tr>
                                <th>Account Name</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="col-sm-12">
                <div id="external_account_details">
                    <h4>External Account Details</h4>
                    <h5>Account Profile</h5>
                    <table id="external_account_static" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Account Name</th>
                                <th>Type</th>
                                <th>Exchange Association</th>
                            </tr>
                        </thead>
                    </table>
                    <p></p>
                    <h5>Account Balance</h5>
                    <table id="external_account_balance" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Instrument</th>
                                <th>Balance</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="transfer" class="tabcontent">
    <form action="" method="post">
        {% csrf_token %}
        <h4>Transfer Query</h4>
        <label for="start_time">Start time: </label>
        <input id="start_time" type="datetime-local" name="start_time_field">
        <label for="end_time">End time: </label>
        <input id="end_time" type="datetime-local" name="end_time_field">
        <input type="submit" value="OK">
    </form>
</div>

<footer class="footer" style="margin-top: 25px;">
    <div class="container">
        <p class="text-muted text-center">
            Copyright © 2020 Lonk.com
        </p>
    </div>
</footer>
{% endblock %}
{% block extra_js %}
<script>
function openTabView(evt, accountName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(accountName).style.display = "block";
  evt.currentTarget.className += " active";
}

function format ( d ) {
    // `d` is the original data object for the row
    var result = '<div class="row"><div class="col-sm-12"><table class="table table-striped table-bordered" style="width:100%">';
    result += getRow(d);
    result += '</div></div></table>';
    return result;
}

function getRow ( d ) {
    var result = '';
    for (x in d) {
        if ( typeof d[x] != 'string' ) {
            for ( y in d[x] ) {
                result += '<tr><td>' + x + ' ' + y + ':</td><td>' + d[x][y] + '</td></tr>';
            }
        } else {
            result += '<tr><td>' + x + ':</td><td>' + d[x] + '</td></tr>';
        }
    }
    return result;
}

function detailTable(account_row, balance_table) {
    var balance_row = filterByName(account_row["accountName"], balance_table);
    account_row["instruments"] = balance_row["instruments"];
    return account_row;
}

function showChildren(account_row) {
    var result = '<div class="row"><div class="col-sm-12"><table class="table table-striped table-bordered" style="width:100%">';
    for (var i = 0; i <  account_row['children'].length; i++ ) {
        result += '<tr><td>' + account_row['children'][i] + '</td></tr>';
    }
    result += '</div></div></table>';
    return result;
}

function child ( d ) {
    // `d` is the original data object for the table
    var result = '<div class="row"><div class="col-sm-12"><table class="table table-striped table-bordered" style="width:100%">';
    var i;
    var fieldNameElement = document.getElementById('maincontent');
    var content = result;
    for (i=0; i<5; i++) {
        result += '<tr><td>' + d[i]["accountName"] + '</td></tr>';
        content += getRow(d[i]);
    }
    content += '</div></div></table>';
    result += '</div></div></table>';

    fieldNameElement.innerHTML = content;
    return result;
}

function parseInstrument ( d ) {
    var result = [];
    for ( x in d["instruments"] ) {
        var row = {};
        row["instrument"] = x;
        row["balance"] = d["instruments"][x];
        //console.log(row);
        result.push(row);
    }
    return result;
}

function filterByName ( name, d ) {
    //console.log("filter by name with length", name, d.length);
    for (i=0; i<d.length; i++) {
        if(d[i]["accountName"] === name) {
            return d[i];
        }
    }
    return d[0];
}

function createTreeNodeID ( accountName ) {
    return accountName.replace(/\s/g, '_').toLowerCase();
}

function recursiveTreeNode ( tree_id, parent_id, acct_name, dict ) {
    var node_id = createTreeNodeID(acct_name);
    createNode(tree_id, parent_id, node_id, acct_name, "last");
    if ( "children" in dict[acct_name] ) {
        for (var i = 0; i < dict[acct_name]["children"].length; i++) {
            recursiveTreeNode(tree_id, "#"+node_id, dict[acct_name]["children"][i], dict);
        }
    }
}

function renderTreeAccounts ( tree_id, d ) {
    var dict = {};
    for (i=0; i<d.length; i++) {
        dict[d[i]["accountName"]] = d[i];
    }

    for (i=0; i<d.length; i++) {
        if(d[i]["hasParents"] === true) {
            continue;
        }
        recursiveTreeNode(tree_id, tree_id, d[i]["accountName"], dict);
    }
}

// Helper method createNode(parent, id, text, position).
// Dynamically adds nodes to the jsTree. Position can be 'first' or 'last'.
function createNode(tree_id, parent_node, new_node_id, new_node_text, position) {
    $(tree_id).jstree('create_node', $(parent_node), { "text":new_node_text, "id":new_node_id }, position, false, false);
}

$(document).ready(function() {
    $('#account_balance').wrap('<div id="hide" style="display:none"/>');
    $('#internal_account').wrap('<div id="hide" style="display:none"/>');
    $('#external_account').wrap('<div id="hide" style="display:none"/>');

    var balance_table = $('#account_balance').DataTable({
        dom:
            "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>" +
            "<'row'<'col-sm-12'tr>>" +
            "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",

        buttons: [
            'copy', 'csv', 'excel', 'pdf'
        ],
        "ajax": "/api/balance/?format=datatables",
        "columns": [
            {
                "className":      'details-control',
                "orderable":      false,
                "data":           null,
                "defaultContent": '',
                "render": function () {
                         return '<i class="fa fa-plus-square" aria-hidden="true"></i>';
                },
            },
            {
                "data": "accountName",
                "className": "account-click",
            },
        ]
    });

    var internal_account_table = $('#internal_account').DataTable({
        "paging": false,
        dom:
            "<'row'<'col-sm-12 col-md-6'f>>" +
            "<'row'<'col-sm-12'tr>>" +
            "<<'col-sm-12 col-md-7'p>>",

        buttons: [
            'copy', 'csv', 'excel', 'pdf'
        ],

        "ajax": "/api/internal/?format=datatables",
        "columns": [
            {
                "data": "accountName",
            },
        ],

        "initComplete": function( settings, json ) {
            renderTreeAccounts("#internal_jstree", internal_account_table.data());
        },

    });

    var internal_account_static = $('#internal_account_static').DataTable({
        "paging": false,
        dom:
            "<'row'<'col-sm-12'tr>>" +
            "<<'col-sm-12 col-md-7'p>>",
        "columns": [
            { "data": "accountName" },
            { "data": "sourceId" },
            { "data": "type" },
            { "data": "productAssociation" },
            { "data": "externalAccountAssociation" },
        ]
    } );

    var internal_account_balance = $('#internal_account_balance').DataTable({
        "paging": false,
        dom:
            "<'row'<'col-sm-12 col-md-6'f>>" +
            "<'row'<'col-sm-12'tr>>" +
            "<<'col-sm-12 col-md-7'p>>",
        "columns": [
            { "data": "instrument" },
            { "data": "balance" },
        ]
    } );

    $('#internal_jstree').jstree({
        //'plugins': ["checkbox", "state"],
        //'plugins': ["search"],
        'core': {
            'data': [],
            'check_callback': true
        }
    });

    $('#internal_jstree').on("changed.jstree", function (e, data) {
        var accountName = $('#internal_jstree').jstree('get_selected', true)[0].text;
        console.log("pulling account detail for ", accountName);
        var data = filterByName(accountName, internal_account_table.data());

        internal_account_static.clear().draw();
        internal_account_static.row.add(data).draw();

        internal_account_balance.clear().draw();
        var bal_rows = parseInstrument(filterByName(accountName, balance_table.data()));
        for ( d in bal_rows ) {
            internal_account_balance.row.add(bal_rows[d]);
        }
        internal_account_balance.draw();
    });

    var external_account_table = $('#external_account').DataTable({
        "paging": false,
        dom:
            "<'row'<'col-sm-12 col-md-6'f>>" +
            "<'row'<'col-sm-12'tr>>" +
            "<<'col-sm-12 col-md-7'p>>",

        buttons: [
            'copy', 'csv', 'excel', 'pdf'
        ],

        "ajax": "/api/external/?format=datatables",
        "columns": [
            {
                "data": "accountName",
            },
        ],

        "initComplete": function( settings, json ) {
            renderTreeAccounts("#external_jstree", external_account_table.data());
        },
    } );

    $('#external_jstree').jstree({
        //'plugins': ["checkbox", "state"],
        //'plugins': ["search"],
        'core': {
            'data': [],
            'check_callback': true
        }
    });

    var external_account_static = $('#external_account_static').DataTable({
        "paging": false,
        dom:
            "<'row'<'col-sm-12'tr>>" +
            "<<'col-sm-12 col-md-7'p>>",
        "columns": [
            { "data": "accountName" },
            { "data": "type" },
            { "data": "exchangeAssociation" },
        ]
    } );

    var external_account_balance = $('#external_account_balance').DataTable({
        "paging": false,
        dom:
            "<'row'<'col-sm-12 col-md-6'f>>" +
            "<'row'<'col-sm-12'tr>>" +
            "<<'col-sm-12 col-md-7'p>>",
        "columns": [
            { "data": "instrument" },
            { "data": "balance" },
        ]
    } );

    $('#external_jstree').on("changed.jstree", function (e, data) {
        var accountName = $('#external_jstree').jstree('get_selected', true)[0].text;
        console.log("pulling account detail for ", accountName);
        var data = filterByName(accountName, external_account_table.data());

        external_account_static.clear().draw();
        external_account_static.row.add(data).draw();

        external_account_balance.clear().draw();
        var bal_rows = parseInstrument(filterByName(accountName, balance_table.data()));
        for ( d in bal_rows ) {
            external_account_balance.row.add(bal_rows[d]);
        }
        external_account_balance.draw();
    });

    document.getElementById("internal_tab").click();
});

</script>
{% endblock %}
